<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<script src="../static/js/jquery/jquery-3.5.1.js"></script>

<script type="text/javascript">

	var fetchedOtherNameTypes = null;
	
	function updateOtherNameTypeSelector(m, selector){
		$.each(fetchedOtherNameTypes, function(n, otherNameType) {
			var newOptionElement = new Option(otherNameType.value, otherNameType.id)
			var selectedId = parseInt(selector.getAttribute("selectedId"));
			if (otherNameType.id == selectedId ){
				newOptionElement.selected = true;
			}else{				
				newOptionElement.selected = false;
			}
			selector.append(newOptionElement);
		});
	}
	
	function updateAllOtherNameTypeSelectors(fetchedData){
		const prefix = "otherNameType_";
		fetchedOtherNameTypes = fetchedData;
		$.each($('[id^="' + prefix + '"]'),updateOtherNameTypeSelector);
	}
	
	function fetchAndUpdateOtherNameTypes(){
		$.getJSON("../api/other-name-types", updateAllOtherNameTypeSelectors);
	}

	$(document).ready( fetchAndUpdateOtherNameTypes );
	
</script>
<script type="text/javascript">
	function doOtherNameDelete(clickedButton){
		const buttonPrefix = 'otherNameDeleteButton_';
		const rowPrefix = 'otherNameRow_';
		var idOfRowToDelete = rowPrefix + clickedButton.id.substring(buttonPrefix.length);
		$("#" + idOfRowToDelete).remove();
	}
	

	const suffix = '_TEMPLATE';
	var newSuffix = '';
	function doOtherNameAddNew(){
		
		
		var rowToClone = $('#otherNameRow' + suffix);
		var newRow = $(rowToClone).clone();
		newSuffix = '_NEW_' + Date.now().toString();
		var newRowId = 'otherNameRow' + newSuffix;
		$(newRow).insertBefore($(rowToClone));
			console.log('id of cloned row = ' + $(newRow).attr('id'));
		$(newRow).attr('id', newRowId);
			console.log('id of cloned row after update = ' + $(newRow).attr('id'));
			console.log('id of row that was cloned = ' + $(rowToClone).attr('id'));		
		$(newRow).css("display","");
		var newRowChildIds = $(newRow).find('[id$="' + suffix + '"]');
			console.log('newRowChildIds.length = ',newRowChildIds.length) ;
		var newRowChildNames = $(newRow).find('[name$="' + suffix + '"]');
			console.log('newRowChildNames.length = ', newRowChildNames.length);
		$(newRowChildIds).attr('id', newId);
		$(newRowChildNames).attr('name', newName);
		$('#otherNameId' + newSuffix).attr('value', '-1');
	}
	
	function newId(m, currentId){
		return currentId.replace(suffix, newSuffix);
	}
	
	function newName(m, currentName){
		return currentName.replace(suffix, '');
	}
	
</script>

<body>

	<form action="person" method="post">		
		<input type="hidden" name="crudType" id="crudType" th:attr="value=${crudType}" />
		<input type="hidden" th:attr="name='id', id='id', value=${person.getId()}">	
	
	
		<table style="width: 60%;">
			<tr>
				<th class="id">Person ID</th>
				<td th:text="${person.getId()}"></td>
			</tr>
			<tr>
				<th>Firstname</th>
				<td>
					<input type="text" name="firstname" id="firstname"  th:attr="value=${person.getFirstname()}" th:readonly="${isReadOnly}">
				</td>
			</tr>
			<tr>
				<th>Lastname</th>
				<td>
					<input type="text" name="lastname" id="lastname"  th:attr="value=${person.getLastname()}" th:readonly="${isReadOnly}">
				</td>
			</tr>
			<tr>
				<th>Date of Birth</th>
				<td>
					<input type="text" name="dateOfBirth" id="dateOfBirth"  th:attr="value=${person.getDateOfBirth()}" th:readonly="${isReadOnly}">
				</td>
			</tr>
			<tr>
				<th>Other Names</th>
				<td class="subtableContainer">
					<table id="otherNamesTable" class="subtable">
						<thead>
							<tr>
								<th>Other-Name</th>
								<th>Name-Type</th>
								<th></th>
							</tr>
						</thead>				
						<tr th:each="otherName: ${person.getOtherNames()}" th:id="'otherNameRow_' + ${otherName.getId()}"  >
							<td>
								<input type="hidden" name="otherNameId"  th:id="'otherNameId_' + ${otherName.getId()}" th:value="${otherName.getId()}"/>
								<input type="text" name="otherNameValue" th:id="'otherNameValue_' + ${otherName.getId()}" th:value="${otherName.getValue()}" th:readonly="${isReadOnly}"/>
							</td>
							
							<td>
								<select name="otherNameTypeId"
										th:id="'otherNameType_' + ${otherName.getOtherNameType.getId()}"
										th:attr="selectedId=${otherName.getOtherNameType.getId()}"
										th:disabled="${isReadOnly}"
								>
									<option value="-1"></option>
								</select>
							</td>
								
							<td class="buttonCell" th:if="${isReadOnly} == false">
								<button type="button" name="otherNameDeleteButton" th:id="'otherNameDeleteButton_' + ${otherName.getId()}" class="deleteButton" onclick="doOtherNameDelete(this)" ></button>
							</td>
						</tr>
						
						
						<tr id="otherNameRow_TEMPLATE" style="display: none;" >
							<td>
								<input type="hidden" name="otherNameId_TEMPLATE"  id="otherNameId_TEMPLATE" value=""/>
								<input type="text" name="otherNameValue_TEMPLATE" id="otherNameValue_TEMPLATE" value=""/>
							</td>
							
							<td>
								<select name="otherNameTypeId_TEMPLATE"
										id="otherNameType_TEMPLATE"
								>
									<option value="-1"></option>
								</select>
							</td>
								
							<td class="buttonCell" >
								<button type="button" name="otherNameDeleteButton" id="otherNameDeleteButton_TEMPLATE" class="deleteButton" onclick="doOtherNameDelete(this)" ></button>
							</td>
						</tr>
						<tr id="addNewOtherNameRow">
							<td colspan="3" style="text-align: right;" class="buttonCell" th:if="${isReadOnly} == false">
								<button type="button" name="addNewOtherName" id="addNewOtherName"  class="addNewButton" onclick="doOtherNameAddNew(this)"></button>
							</td>

						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" name="requestAction" id="requestAction" value="SAVE">
						<span th:switch="${updateType}"> 
							<span th:case="'DELETE'" th:text="'Confirm'"></span> 
							<span th:case="*" th:text="'Save'"></span>
						</span>
					</button>
					<button type="submit" name="requestAction" id="requestCancel" value="CANCEL" th:text="'Cancel'"> </button>
				</td>
			</tr>
		</table>
	
	</form>
</body>
</html>