<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<script src="../static/js/jquery/jquery-3.5.1.js"></script>

<body>
	<form action="person" method="post">
		<input type="hidden" name="updateType" id="updateType" th:attr="value=${updateType}" />
		<input type="hidden" th:attr="name='id', id='id', value=${person.getId()}">	
	
	
		<table style="width: 60%;">
			<tr>
				<th class="id">Person ID</th>
				<td th:text="${person.getId()}"></td>
			</tr>
			<tr>
				<th>Firstname</th>
				<td>
					<input type="text" name="firstname" id="firstname"  th:attr="value=${person.getFirstname()}">
				</td>
			</tr>
			<tr>
				<th>Lastname</th>
				<td>
					<input type="text" name="lastname" id="lastname"  th:attr="value=${person.getLastname()}">
				</td>
			</tr>
			<tr>
				<th>Date of Birth</th>
				<td>
					<input type="text" name="dateOfBirth" id="dateOfBirth"  th:attr="value=${person.getDateOfBirth()}">
				</td>
			</tr>
			<tr>
				<th>Other Names</th>
				<td class="subtableContainer">
					<table id="otherNamesTable" class="subtable">					
						<tr th:each="otherName: ${person.getOtherNames()}" >
							<td>
								<input type="hidden" name="otherNameId"  th:id="'otherNameId_' + ${otherName.getId()}" th:value="${otherName.getId()}"/>
								<input type="text" name="otherNameValue" th:id="'otherNameValue_' + ${otherName.getId()}" th:value="${otherName.getValue()}"/>
							</td>
							
							<td>
								<input type="hidden" name="otherNameTypeId"  th:id="'otherNameTypeId_' + ${otherName.getOtherNameType.getId()}" th:value="${otherName.getOtherNameType.getId()}"/>
								<input type="text" name="otherNameTypeValue" th:id="'otherNameTypeValue_' + ${otherName.getOtherNameType.getId()}" th:value="${otherName.getOtherNameType.getValue()}"/>
							</td>
								
							<td  style="text-align: right;">
								<button type="button" class="deleteButton" name="deleteOtherName" id="deleteOtherName">
									Delete
								</button>
							</td>
						</tr>
						<tr>
							<td colspan="3" style="text-align: right;">
								<button type="button" class="addNewButton" name="addNewOtherNameButton" id="addNewOtherNameButton">
									Add New
								</button>
							</td>

						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" name="requestAction" id="requestAction" value="SAVE">
						<span th:switch="${updateType}"> 
							<span th:case="'DELETE'" th:text="'Confirm'"></span> 
							<span th:case="*" th:text="'Save'"></span>
						</span>
					</button>
					<button type="submit" name="requestAction" id="requestCancel" value="CANCEL" th:text="'Cancel'"> </button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>